@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppleSDGothicNeoT';
    src: url('font/AppleSDGothicNeoT.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoUL';
    src: url('font/AppleSDGothicNeoUL.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('font/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url('font/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoM';
    src: url('font/AppleSDGothicNeoM.ttf') format('truetype');
}

* {
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
    font-family: 'AppleSDGothicNeoR', sans-serif;
    font-size: 16px;
}