@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.active {
    color: #FFFFFF !important;
}

.BoardFilterContainer {
    &:after {
        content: 'keyboard_arrow_down';
        font-family: 'material icons';
        position: absolute;
        right: 10px;
    }
}

.BoardFilterSelect option {
    background: #F4F4F4 0% 0% no-repeat padding-box;
    color: #5A5A5A;
}